{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div><h2>About Us</h2></div>
<div class="row ">
    <div class="col-md-6 col-lg-6 inner">
     <img src="{%static 'images/hero.png'%}" alt="rice oil" style="height:100%; width:100%;">
    </div>
    <div class="col-md-6 col-lg-6 p-3 mt-2 new text-white" >
      <h2 id="abouthead">OUR RICE AND SHINE OIL</h2>
       <P class="text-dark">When it comes to keeping your skin flawless or your hair strong and dandruff-free, Rice Oils are always best. In today’s busy world, a smooth skin and healthy hair is priceless and can be used regularly. One such is using rice oil, which is known to work wonders for both your skin as well as your hair.
         Rice oil is a fluid produced naturally from rice. Rice is an everyday grain, stocked in most kitchens and consumed as an essential part of the diet in most countries because of its amazing health benefits. Rice is just as beneficial when it is used on the skin and hair. Using it regularly on the hair can be efficient in fighting extreme hair fall problems.
         Rice is rich in protein, which helps repair cells. When used regularly, rice water helps hair cells grow which leads to healthy hair growth. </P>
    </div>
</div>
</section>
<section class="row container" id="complex">
<div class="col-md-6 col-lg-6 col-xl-6" class="benefit">
   <h1 id="benefits">RICE OIL COMPLEX</h1>
   <p>Our Signature Rice Oil is a blend of Rice Water, Biotin and Arginine that together create powerful and results-driven formulas that focus on scalp and strand health in a way the industry hasn’t seen before</p>    </p>
   <ul>
     <h3 id="benefits">PURE RICE WATER EXTRACT</h3>
     <li>Packs a variety of Amino Acids + Vitamins B, C and E</li>
     <li>Essential for encouraging strong healthy hair at the scalp</li>
     <h3 id="benefits">BIOTIN</h3>
     <li>Helps minimize breakage by helping to improve elasticity</li>
     <li>Nourishes hair at the follicle</li>
     <h3 id="benefits">ARGININE</h3>
     <li>Helps stimulate and increase blood flow to scalp</li>
     <li>Strengthens hair, minimizing breakage and loss</li>
    </ul>
</div>
 


{% endblock content %}